*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main{
  width:80% ;
  margin:auto;
  
}
li{
  padding:5px;
  font-size:20px;
  list-style-type: none;
  border-bottom:1px solid  ;
  
  
}

span{
  font-weight: bold;
  margin-right:15PX;
  
}

.fotoAndPersonalInfo{
  margin-top: 20px;
  margin-bottom: 5px;
  display:flex;
}

.photo{
  margin-right:20px;
  
}

img{
  height: 30vh;
}

.personal-container{
  width: 100%;
  border:0.5px solid black ;
}

.personal-container:last-child{
  border-bottom:none;
}

.repo{
  margin-top: 20px;
}
h2{
  margin-bottom: 15px;
}

a{
  text-decoration: none;
}
.repo-container{
  border:0.5px solid black ;
}

.repo-container:last-child{
  border-bottom: none;
}
